doctype html
html(lang="en")
	head
		title Site was developed by Vlas

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Description of website")
		meta(name="keywords" content="Website")

		<!-- Inter FONT -->
		link(rel="stylesheet" href="fonts/inter/stylesheet.css")

		<!-- Manrope FONT -->
		link(rel="stylesheet" href="fonts/manrope/stylesheet.css")

		<!-- Poppins FONT -->
		link(rel="stylesheet" href="fonts/poppins/stylesheet.css")


		<!-- Slick SLIDER -->
		link(rel="stylesheet" href="css/slick/slick-theme.css")
		link(rel="stylesheet" href="css/slick/slick.css")
		<!-- Slick SLIDER -->

		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/style.css")

	body

		header
			.wrapper
				.header
					a(href="index.html").header__logo App Logotype
					nav.header__menu
						ul
							li
								a(href="index.html#how-id") How it works
							li
								a(href="pricing.html") Pricing
							li
								a(href="faq.html") FAQ
							li
								a(href="contact.html") Contact
					button.header__singin.btn Sign in
		
		block content
































			