extends includes/header.pug

block content

	.body-bgd_bottom.bgd-contact-b
		img(src="img/svg/bg-vector-element-bottom-3.svg" alt="bgd").desk
		img(src="img/svg/bg-vector-element-bottom-3-mob.svg" alt="bgd").mob

	main.page-contact
		.wrapper
			h1 Contact us
			section.page-contact__block.big-block
				.block__lft
					p our e-mail
				.block__rht
					a(href="mailto:contact@geofy.com") contact@geofy.com
					p If you need to know more about the Geofy don’t hesitate to get in touch. Please note it may take up to 1 day for us to come back with a response.


	include includes/footer.pug



























	