extends includes/header.pug

block content

	.body-bgd_top.bgd-faq-t
		img(src="img/svg/bg-vector-element-top-2.svg" alt="bgd").desk
		img(src="img/svg/bg-vector-element-top-2-mob.svg" alt="bgd").mob
	.body-bgd_bottom.bgd-faq-b
		img(src="img/svg/bg-vector-element-bottom-2.svg" alt="bgd").desk
		img(src="img/svg/bg-vector-element-bottom-2-mob.svg" alt="bgd").mob

	main.page-faq
		.wrapper
			h1 Frequently asked <span>questions</span>
			secton.page-faq__block
				ol.big-block
					li
						.li__text
							h2 Is it legal to geolocate a third party?
							p At the end of 24 hours and without cancellation, the offer will be automatically renewed in a subscription without any commitment, at the price of €49.99 / month.
					li
						.li__text
							h2 Is Geofy accurate enough?
							p Our service provides you with the exact location with between 1 and 6m accuracy.
					li
						.li__text
							h2 What phone types are supported?
							p Geofy works on all generations of phone types with internet.
					li
						.li__text
							h2 Will the service work if third party's phone is switched off?
							p The third party's phone needs to be switched on for the tracker to work. However as soon as his phone is on, he will receive a message to locate his current location.
					li
						.li__text
							h2 How much does it cost to geo-locate a mobile phone?
							p You will be charged € 49.99 a month for unlimited geo-locating. Your subscription will renew automatically but is non-binding, you can cancel anytime.
					li
						.li__text
							h2 Is my information safe?
							p Your anonymity is important to us.
							p The geo-location of the third party gets send over a secure TLS (Secure Sockets Layer) protocol and is not visible to other people. Your personal information and identity are not shared with anyone.
					li
						.li__text
							h2 How can I cancel Geofy subscription?
							p The subscription is non-binding and you can cancel anytime you want to.
							button.btn-2 Unsubscribe
					li
						.li__text
							h2 How do I reset my password?
							p Resetting your password is easy. 
							p Just click the button below and follow the onscreen instructions.
							a(href="#") Recover password

			b If you haven't found your issue on this page please contact us
			button.btn
				span Get in touch
				<svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3H10M10 3V12M10 3L1 12" stroke="white" stroke-width="1.5"/></svg>


	include includes/footer.pug



























	