extends includes/header.pug

block content

	.body-bgd_top
		img(src="img/svg/bg-vector-element-top.svg" alt="bgd")

	main.page-pricing
		section.block-1
			.wrapper
				.page-pricing__bgd
					img(src="img/svg/pricing-bgd.svg" alt="Ico")
				.sides
					.sides__lft
						p.suptitle The best offer
						h1 Geofy <br /><span>pricing</span> plan.
						p.subtitle Geofy is based on a subscription service and will be charged €49.99 per month.
					.sides__rht.page-pricing__prices
						.prices__top
							.top__price
								.top
									span €
									span 0.50
								p trial offer per 24h
							.top__circle
								<svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.1669 16.7231C24.9734 14.8733 25.159 12.826 24.6977 10.8691C24.2365 8.91225 23.1515 7.14412 21.5953 5.81335C20.0391 4.48257 18.09 3.65607 16.0221 3.45006C13.9541 3.24404 11.8713 3.66887 10.0664 4.66481L8.83341 2.58071C10.7197 1.54 12.8556 0.994982 15.0282 1.00003C17.2008 1.00509 19.334 1.56004 21.2151 2.60951C26.7956 5.71946 28.9334 12.3785 26.332 17.9313L28 18.86L22.8234 21.5164L22.6183 15.8604L24.1669 16.7231ZM5.83431 9.27694C5.02786 11.1267 4.84222 13.174 5.3035 15.1309C5.76477 17.0877 6.84977 18.8559 8.40594 20.1867C9.96211 21.5174 11.9112 22.3439 13.9792 22.5499C16.0471 22.756 18.13 22.3311 19.9349 21.3352L21.1678 23.4193C19.2816 24.46 17.1456 25.005 14.973 25C12.8004 24.9949 10.6672 24.44 8.78618 23.3905C3.2056 20.2805 1.06783 13.6215 3.6692 8.06872L2 7.14125L7.17663 4.48484L7.38171 10.1408L5.83431 9.27694Z" fill="#1E2A3A" stroke="#F5F5F5"/></svg>
							.top__price
								.top
									span €
									span 49.99
								p per month
						p At the end of 24 hours and without cancellation, the offer will be automatically renewed in a subscription without commitment, at the price of €49.99 per month.
						ul
							li
								img(src="img/svg/price-1.svg" alt="Icon")
								span All phone types
							li
								img(src="img/svg/price-2.svg" alt="Icon")
								span All networks support
							li
								img(src="img/svg/price-3.svg" alt="Icon")
								span World coverage
							li
								img(src="img/svg/price-4.svg" alt="Icon")
								span Always strict location
						button.btn
							span Subscribe now
							<svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3H10M10 3V12M10 3L1 12" stroke="white" stroke-width="1.5"/></svg>

	include includes/footer.pug



























	