extends includes/header.pug

block content

	.body-bgd_top
		img(src="img/svg/bg-vector-element-top-3.svg" alt="bgd")
	.body-bgd_bottom
		img(src="img/svg/bg-vector-element-bottom.svg" alt="bgd")

	main.page-privacy
		.wrapper
			h1 Privacy Policy
			.page-privacy__block.big-block
				h2 General terms and conditions of use
				p We welcome you to the website of FINDPHONE.PRO, the service that allows you to localize the current position of the phone of the person who allowed us to determine his or her location. The service allows you to send an SMS to the recipient to signal that “someone wants to know your location”. If the recipient of the message explicitly accepts, the receiver shall receive his geoposition at that particular point in time by the share through the application. Under no circumstances does geolocation go beyond the specific point in time at which it was adopted.
				p The monthly payment for the service does not guarantee that the person you are looking for will be found, it only provides the means to achieve such outcome. If the person is missing, the phone was stolen and the receiver doesn’t accept the message sent by us, the way described above, actual holder of the phone does not accept the link we send in SMS, we cannot get the GPS position.
				p This document is a contract between you (hereinafter "you" or "Customer" and its derivatives), visitor and potential Customer of the site available at the URL www.findphone.pro and the company DYZMAS sp. z o.o. with its seat in Cracow, POLAND, Zabłocie 20/22 street, 30-701 Cracow (Tax ID : PL6793205147, hereinafter : « DYZMAS »).
				h3 1. Acceptance of conditions and policies of the Service
				p Acceptance of conditions and policies of the Service
				p This service (hereinafter the "Service") is subject to the following terms and conditions: these Terms of Use, our Privacy Policy and our Cookies Policy (all documents are available on the Service's website).
				p When you use the Service, you agree to our Terms of Use and you agree not to use the Service for illegal or non-conforming purposes with its primary purposes.
				p Knowing that you entrust us with your documents which are often of personal value and often contain confidential information, we inform you that, for legal reasons, we archive the electronic documents on which the purchases are formalized, keeping them secret at the same time. You will be able to access these documents at any time by writing your request in this way to the following e-mail address: info@findphone.pro
				p However, using the advanced features of the Service, such as the losalizer, requires the creation of an account and subscription to a one-day subscription for a fixed price, which will then be extended for an indefinite period – starting the end of the first calendar day.
				hr
				h3 2. The Service and its functionalities
				p 2. The Service and its functionalities
				p Through the Service, we provide you the opportunity to identify the location of your phone under the conditions of the § 1 above.
				p We strive - on the basis of an obligation of means - to maintain permanent access to the Service and we undertake to conduct regular checks to verify its operation and accessibility. As such, access to the Service may be temporarily suspended for maintenance purposes. We do our best to inform you of these maintenance periods and limit your inconvenience by providing as much as possible for low usage schedules. We cannot be held responsible for temporary difficulties or impossibilities of access to the Service resulting from external circumstances, such as disruption of telecommunication networks or defects of our accommodation providers.p We are committed to implementing our best means to ensure a good quality of access to the Service and ensure the reliability and speed of online services that we offer.
				p The language in which the contract is concluded between DYZMAS and the buyer (the Client) will be the French and English language or any other language of the country in which we sell our services.
				hr
				h3 3. Subscription
				p To ensure that the purchase on the website of our Service is possible, you must register on our website with a username and password, indicating at the same time the number of your credit card from which you will make the purchase of the subscription.
				p By pressing „Accept Payment” button , you will make the payment of an amount of service, provided for the use of our Service - for 24 hours, a trial period during which you can cancel it without any hindrance.
				p Once the 24-hour period has passed and you have not canceled your subscription, it automatically extends for an indefinite period for a fixed price of 49.90 € monthly fee. From then on, you will be able to ask us for the document of formalization of the purchase which will be provided to you without delay.
				p After the 24-hour trial period, your subscription to the Service is monthly, equals 49.90 € and will automatically renew for the same period of time (one month) until its term (which depends on your will).
				p The subscription constitutes the authorization for the Service to debit the subscription fees indicated above, based on the coordinates indicated on the credit card that you gave us when registering on the Service website or while registering for the subscription indicated above.
				p The subscription can be canceled at any time. If the cancellation took place before the end of the month, you retain the right to use all the features of the Service to which you were registered, until the end of the calendar month in which the cancellation took place. Partial refunds are not possible - the same goes for refunds of subscriptions for any reason, except for if the current law indicates such conditions, given the factual situation.
				p We will confirm your purchase within a maximum of 24 hours; the confirmation will be sent to the address indicated when registering on our website.
				hr
				h3 4. Age conditions
				p Age conditions
				p All of our Clients declare having reached maturity and having the necessary legal capacity to conclude the purchase contract (acceptance of the General Conditions of Use which regularize the legal and factual situation between the Customer and our Service) on our website.
				p The use of our localizer on the website of the Service constitutes a declaration to use the Service in accordance with these Terms of Use. Therefore, you declare to have understood its provisions in their entirety. Each of our Customers may ask any question regarding the provisions of this document or any other document found on the Service's website by sending the email to the e-mail address: info@findphone.pro. The misunderstanding of this document does not constitute the basis for ignoring its provisions.
				p Subscription made on behalf of an enterprise is equivalent to the recognition of having the necessary authorization to express the declarations of intent on behalf of the said company and to represent it in relations with our Service.
				p By creating all the computer systems on the website of our Service, we rely on the data you provide us. Therefore, you declare that all the information you provide to access the Service, before and during its use, is true, complete and accurate.
				hr
				h3 5. Intelectual and industrial property
				p Intelectual and industrial property
				p Texts, software, logos and content found on the Service's website (data, videos, images, computer codes, other) may be protected by an intellectual property right (a copyright or a trademark) that we own, licensed or use in respect of the law in force.
				p Any modification, reproduction, duplication, copy, distribution, sale, resale and other forms of exploitation for commercial purposes or equivalent of the Service (ie any operation to access the source code of the website of our Service, its database or any element likely to be protected by an intellectual property right, as well as to reproduce, represent, distribute or use the protected elements) without prior written authorization from us, are prohibited.
				p Only the rights of access to the website of the Service and the rights to use its features are recognized. For any other use of the content of the Service, you need our prior written consent.
				hr
				h3 6. Personal data and the security of the Service
				p By providing all the features of our Service at your disposal, we are committed to privacy and the protection of personal data. Our practices are detailed in our Privacy Policy, which you can find on our website, and in our Cookies Policy, also available on our website.
				p You may exercise your rights over your personal data by following the form that is stated in our Privacy Policy or by simply sending an email to: info@findphone.pro.
				p We are committed to remedying and implementing timely corrective actions to correct a potential security breach as soon as possible.
				p You undertake to inform us, immediately and through the email available on our website, of any situation that may lead to the usurpation of the identity of any user of our Service and any breach of the security of the Service.
				hr
				h3 7. Service Accountability
				p We are committed to implementing our best means, without being subject to any obligation of result, in order to provide our Clients with all the functionality of the Service with due diligence. However, we cannot be held responsible for damages that may result from accessing the service provided to our Clients: they use its features and the information therein under their sole responsibility.
				p We are implementing our best efforts to put and maintain online as many features as possible. In any case, and without prejudice to any clause of the General Conditions of Use and other documents on our site, by which you are bound, limiting our liability, the liability that we may incur is expressly limited to the direct and proven damages that you would have suffered from our cause.
				hr
				h3 8. Prices and taxes
				p The prices of the products offered on the website of our Service are indicated in euros (€), with the Value Added Tax (VAT) in effect at the time of purchase, indicated on the price of the products. It may happen that, depending on your country of residence or the condition or circumstances in which you are acting, you may be exempt from this tax. Our Customers being exempt from the VAT tax, should send us the message to the e-mail address indicated on our website which will allow us to perform all the formalities to change the final price of their purchase.
				hr
				h3 9. Prohibited behavior
				p The following behaviors are strictly prohibited and may give rise to any action in order to repair any damage caused, including the termination of any contract that binds us with the Client, referring to the behaviors in question:
				ol
					li any intrusion or attempted intrusion into our system,
					li any breach of the security and authentication measures,
					li any misuse of system resources on the Service's website,
					li any action likely to impose a disproportionate burden on our infrastructures,
					li any behavior likely to suspend, interrupt, slow down or prevent access to the Service,
					li any act likely to affect our financial rights and commercial or moral interests of our Service as well as to those of the users of the Service.
				p We reserve the right to take any appropriate action in the event of a breach of any of the provisions of the present paragraph or the present document in general, as well as other documents and policies that you can find on the Service's website by dispositions of which our Clients are legally obliged or more generally - any violation of the laws and legal regulations.
				hr
				h3 10. Payment method
				p It is possible for all our Customers to make online payment for the service acquired, by credit or debit card. Therefore, we inform you that any transaction you make on the website of our Service is made by secure payment method, using SSL technology which allows us to guarantee the security of data transmission.
				hr
				h3 11. Right of withdrawal and refunds
				p Given the type of product that is offered to our Clients on the Service's website, since it is a supply of computer software that is instantly unsealed by the consumer after delivery within the meaning of the law in force, the right of withdrawal will not be applicable and this in accordance with the law in force.
				p In order to take advantage of our online services, you will need to make the promotional payment of € 0.90 for the first 24 hours. Until the expiry of this period, you may cancel the subscription which will otherwise be renewed for an indefinite period and invoiced monthly for a recurring and non-refundable amount of 49.90 €.
				p You may renounce the subscription at any time with the right to use the subscribed service until the end of the month in which the subscription was waived, in accordance with paragraph 3 of the present document.
				p The subscribed service may not be assigned or transferred to other users of the Service.
				hr
				h3 12. Validity of offers, updates
				p We reserve the right to change the prices visible on our website without notice but only within the limits of the law in force. This is based on the price of services on the market and allows us to update them in order to make the changes allowing us to maintain competitiveness and adapt our services to the expenses necessary for the proper functioning of the services we offer, that are available to our Clients.
				p We reserve as well the right to update these Terms of Use to ensure the proper functioning of the Service.
				p We will notify you of changes to the Terms of Use and other documents available on our website, such as the Cookies Policy and the Privacy Policy. Any modification will be the subject of information on our website, through an information banner placed for a period of thirty (30) days before the entry into force of the new Terms of Use, Cookie Policy or Privacy Policy. Any navigation after this period will be subject to the new documents.
				hr
				h3 13. Claims and actions arising from the contract
				p This Service is regulated by French law except for situations that will be subject to other legislation which results from the law in force in the given situation.
				p We are always willing to consider an amicable solution before any legal action. In this regard and in accordance with applicable regulations, we inform about the existence of a European online dispute resolution platform which facilitates the out-of-court settlement of such disputes for contracts also concluded online between consumers and service providers.
				p The service in question is available on the following website: http://ec.europa.eu/odr. Otherwise, to simplify the resolution of civil claims and reduce costs, we do not exclude the possibility of submitting to arbitration before the International Arbitration Chamber of Paris.
				p In case of legal action, the dispute will be subject to French law and the jurisdiction of the Paris Court of First Instance, or (in other cases) the French court competent by territorial jurisdiction.
				p If you are a natural person (individual), you have the right to free use of a consumer mediator, in accordance with the provisions of Article L. 612-1 of the french Consumer Code (or other legal dispositions in force in case your particular situation shall be regulated by other regulations).
				p You can find the list of all consumer mediators at the following link: https://www.economie.gouv.fr/mediation-conso/saisir-mediateur
				hr
				h3 14. Other dispositions
				p If any clause included in this document is declared, in whole or in part, invalid or ineffective, it will only affect that provision or the part declared invalid or ineffective. In such a case, any other provision of the GTUs remain valid and bind all the Customers of the Service.
				hr
				h3 15. Customer service, entry into force
				p For any clarification, incident or claim, you can contact us by:
				p E-mail address: info@findphone.pro
				p Postal address: Zabłocie 20/22 street, 30-701 Cracow, Poland
				p These General Terms of Use entered into force on 24.09.2020


	include includes/footer.pug



























	